
.jumbotron {
    position: relative;
    background-color: white;
    overflow: hidden; /* Hide the overflowing content */
  }
  
  .search-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 200px;
  }
  
  .smooth-icon {
    width: 350px; 
    margin-bottom: -120px; 
  }
  
  .search-box {
    padding: 10px;
    width: 300px;
    border: 5px solid #ddd;
    border-radius: 10px;
    font-size: 12px;
    margin-bottom: 20px; 
  }
  
  .search-box {
    padding: 10px;
    width: 400px;
    border: 5px solid #ddd;
    border-radius: 10px;
    font-size: 12px;
    margin-bottom: 20px;
  }

.search-button {
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.forum-link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin-top: 10px; /* Adjust the margin as needed */
  }
  

  .ads-container {
    white-space: nowrap;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    padding: 10px; /* Add padding for better visibility */
  }
  
  .ads-content {
    display: inline-block;
    padding: 10px;
    margin-right: 20px; /* Add margin between ads for better separation */
    background-color: #f1f1f1; /* Add a background color for better visibility */
    border-radius: 8px; /* Add rounded corners for a polished look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  }
  
  .scroll-buttons {
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .scroll-buttons button {
    background-color: #4CAF50; /* Green background color */
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  /* Media Query for Mobile Screens */
@media only screen and (max-width: 600px) {
    .smooth-icon {
      width: 100%;
      max-width: none;
    }
    .search-box {
        width: 100%;
    max-width: 350px; /* Adjust the maximum width for smaller screens */
    margin-right: 0; /* Remove margin for smaller screens */
    }
  }